html {
	font-family: Tahoma, sans-serif;
}

body {
	margin-left: 2%;
	margin-right: 2%;
}

footer {
	font-size: small;
	text-align: center;
	background-color: #D8D8D8;
}

header {
	margin: 5%;
	font-size: larger;
	text-transform: uppercase;
}

article {
	margin: 5%;
}

nav {
	text-transform: capitalize;
	background-color: #D8D8D8;
}

menuitem {
	margin-right: 1%;
}

a {
	text-decoration: none;
}

.alert {
	color:red;
}