<!DOCTYPE html>
<html>
	<head>
    	{% if title %}
    		<title>{{title}} - Raspserver</title>
    	{% else %}
    		<title>Raspserver</title>
    	{% endif %}

    	<link href="/static/css/style.css", rel="stylesheet">
	</head>
	<body>
		<nav>
			<menuitem>
				<a href="{{url_for('index')}}">
					Home
				</a>
			</menuitem>
			<menuitem>
				<a href="{{url_for('serverlogs')}}">
					Server Logs
				</a>
			</menuitem>
		</nav>
		<main>	
			{% include 'flash.html' %}
			{% block content %}{% endblock %}
		</main>
	</body>
	<footer>
		Raspserver by JrtPec
	</footer>
</html>