<!DOCTYPE html>
<html>
	<head>
    	{% if title %}
    		<title>{{title}} - Raspserver</title>
    	{% else %}
    		<title>Raspserver</title>
    	{% endif %}

    	<link href="/static/css/style.css", rel="stylesheet">
	</head>
	<body>
		<nav>
			<ul>
				{% if g.user.is_authenticated() %}
				<li>
					Welcome, {{g.user.username}}!
				</li>
				<li>
					<a href="{{url_for('index')}}">
						Home
					</a>
				</li>
				<li>
					<a href="{{url_for('logout')}}">
						Log Out
					</a>
				</li>
				{% else %}
				<li>
					<a href="{{url_for('login')}}">Log In</a>
				</li>
				<li>
					<a href="{{url_for('register')}}">Register</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		<main>	
			{% include 'flash.html' %}
			{% block content %}{% endblock %}
		</main>
	</body>
	<footer>
		Raspserver by JrtPec
	</footer>
</html>